
.spyproject/config/backups/workspace.ini.bak
/.spyproject
.spyproject/config/workspace.ini
__pycache__/bj_components.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
/__pycache__
/__pycache__
/.spyproject
/__pycache__
/__pycache__
/.spyproject
__pycache__/utils.cpython-311.pyc
__pycache__/blackjack.cpython-311.pyc
